body {
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.5;
    color: #888;
    background-color: #f0f0f0;
}

.row {
    margin-bottom: 30px;
}

.title {
    font-size: 20px;
    font-weight: 600;
    line-height: 33px;
}

.row.title {
    margin-top: 30px;
}

.row.overview > div > h5 {
    margin: 30px 0 10px;
}

.ibox-content {
    background-color: #fff;
    margin: 0;
    padding: 10px 10px;
    font-size: 13px;
    text-align: center;
}

.summery > div {
    padding: 5px;
}

i.fa.fa-a {
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.right {
    text-align: right;
}

.font-bold {
    font-weight: 600;
}

.text-navy {
    color: #1ab394;
}

.ibox-content .col-9.right {
    max-height: 65px;
}

.table {
    background-color: #fff;
}

.table th {
    padding: 15px 10px 12px;
    font-size: 14px;
}

.table td {
    padding: 15px 10px;
    vertical-align: middle;
    font-size: 13px;
    line-height: 1.5;
    max-width: 40vw;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.row.dates {
    background-color: #fff;
    padding: 25px 15px;
}

.row.dates .button {
    text-align: right;
}

.dates .row {
    margin-bottom: 0;
}

.dates label {
    font-size: 13px;
    font-weight: 700;
    padding-top: 11px;
}

.dates .col-auto {
    min-width: 94px;
}

.dates .form-fields {
    margin-bottom: 15px;
}

.loading {
    text-align: center;
    display: none;
}

.loading img {
    width: 20%;
    min-width: 100px;
    max-width: 150px;
}

canvas {
    display: none;
}

.btn-link {
    color: #1ab394;
    max-width: 490px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    text-align: left;
}

.filters {
    text-align: center;
}
.filters .filter {
    display: inline-block;
    margin: 18px 2px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 3px 10px;
}
.close-filter {
    cursor: pointer;
}